/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import 'links';

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import 'menus';
@import 'burger';

.nav {
	float: right;
	font-size: 0;
	margin-top: 8px;
	position: relative;
}

@media (max-width: 1200px) {
	.nav {
		float: none;
		margin: 130px 0;
		height: -webkit-calc(100vh - 260px);
		height: calc(100vh - 260px);
		overflow-y: auto;
	}

	.header__bottom > .nav {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.nav {
		margin: 0;
		height: auto;
	}
}

.nav a {
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.3px;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.nav a:hover,
.nav a.active {
	color: #3cafcc;
}

.nav li {
	list-style: none;
}

.nav__has-submenu.active > a:after {
	border-top-color: #3cafcc;
}

.nav__list-item {
	display: inline-block;
	margin-left: 34px;
}

.nav__list-item.active > a,
.nav__list-item.active .nav__submenu__list-item.active > a {
	color: #3cafcc;
}

@media (max-width: 1200px) {
	.nav__list-item {
		margin-left: 15px;
	}
}

@media (max-width: 1200px) {
	.nav__list-item {
		display: block;
		margin: 0;
	}
}

.nav__list-item:first-child {
	margin-left: 0;
}

@media (max-width: 1200px) {
	.nav__list-item:first-child > a {
		border-top: 1px solid #13181b;
	}
}

@media (max-width: 1200px) {
	.nav__list-item > a {
		display: block;
		height: 82px;
		font-size: 20px;
		position: relative;
		line-height: 80px;
		padding: 0 72px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid #13181b;
	}
}

@media (max-width: 1200px) {
	.nav__list-item > a {
		padding: 0 30px;
	}
}

.nav__has-submenu {
	position: relative;
}

.nav__has-submenu > a:after {
	content: '';
	-webkit-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
	display: inline-block;
	border-top: 5px solid #fff;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	vertical-align: middle;
	margin-left: 5px;
}

@media (max-width: 1200px) {
	.nav__has-submenu > a:after {
		position: absolute;
		right: 40px;
		top: 50%;
		margin-top: -4px;
		border-top: 8px solid #fff;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
	}
}

@media (max-width: 1200px) {
	.nav__has-submenu > a.active {
		background: #13191b;
		border-top: 1px solid #292929;
		border-bottom: 1px solid #292929;
	}

	.nav__has-submenu > a.active:after {
		border-top: 0;
		border-bottom: 8px solid #fff;
	}

	.nav__has-submenu > a.active + .nav__submenu {
		max-height: 9999px;
		visibility: visible;
		overflow: visible;
		padding: 30px 0;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

.nav__has-submenu:hover > a:not(.active) {
	color: #3cafcc;
}

.nav__has-submenu:hover > a:not(.active):after {
	border-top: 5px solid #3cafcc;
}

@media (max-width: 1200px) {
	.nav__has-submenu:hover > a:not(.active):after {
		border-top: 8px solid #3cafcc;
	}
}

@media only screen and (min-width: 1024px) {
	.nav__has-submenu:hover .nav__submenu {
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
	}
}

.nav__submenu {
	position: absolute;
	visibility: hidden;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	top: 19px;
	padding: 45px 40px 40px;
	left: -40px;
	white-space: nowrap;
	background: rgba(31, 40, 44, 0.9);
	-webkit-transition: all 0.3s 0.3s ease;
	transition: all 0.3s 0.3s ease;
}

@media (max-width: 1200px) {
	.nav__submenu {
		position: static;
		padding: 0;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		max-height: 0;
		overflow: hidden;
		background: transparent;
	}
}

.nav__submenu__list {
	display: inline-block;
	vertical-align: top;
	margin-left: 55px;
}

@media (max-width: 1200px) {
	.nav__submenu__list {
		display: block;
		margin: 50px 0 0;
		padding: 0 72px;
	}
}

@media only screen and (max-width: 767px) {
	.nav__submenu__list {
		padding: 0 30px;
	}
}

.nav__submenu__list:first-child {
	margin-left: 0;
}

@media only screen and (max-width: 1024px) {
	.nav__submenu__list:first-child {
		margin-top: 0;
	}
}

.nav__submenu__list-item {
	margin-top: 18px;
}

.nav__submenu__list-item:first-child {
	margin-top: 0;
}

@media (max-width: 1200px) {
	.nav__submenu__list-item:first-child {
		margin-top: 0;
	}
}

@media (max-width: 1200px) {
	.nav__submenu__list-item {
		margin-top: 25px;
	}
}

.nav__submenu__list-item a {
	font-size: 15px;
}

@media (max-width: 1200px) {
	.nav__submenu__list-item a {
		font-size: 20px;
	}
}

.nav__submenu__list-item a:hover {
	text-decoration: underline;
}

.nav__submenu__caption {
	font-size: 13px;
	color: #b9e9f2;
	display: block;
	margin-bottom: 16px;
}

@media (max-width: 1200px) {
	.nav__submenu__caption {
		font-size: 20px;
	}
}
