.blue-form {
	padding: 50px 0;
	color: #fff;
	background: url(assets/img/backgrounds/bg_waves-left_form.png) no-repeat left top,
		#00a1b5 url(assets/img/backgrounds/bg_waves-right_form.png) no-repeat right top;
	overflow: hidden;
}

.blue-form.for-order {
	padding: 95px 0 70px;
}

@media only screen and (max-width: 1024px) {
	.blue-form.for-order {
		padding: 60px 0 70px;
	}
}
.blue-form.for-order .blue-form__body {
	max-width: none;
	text-align: left;
}

@media only screen and (max-width: 1024px) {
	.blue-form.for-order .blue-form__body {
		text-align: center;
	}
}
.blue-form__body {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.blue-form__title {
	margin: 12px 0;
	font-size: 41px;
	font-weight: 700;
	line-height: 59px;
}

@media only screen and (max-width: 767px) {
	.blue-form__title {
		font-size: 32px;
		line-height: 41px;
	}
}
.blue-form__note {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.2;
}

@media only screen and (max-width: 767px) {
	.blue-form__note {
		font-size: 20px;
	}
}
.blue-form__worker {
	margin: 35px 0;
	overflow: hidden;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker {
		max-width: 560px;
		margin: 80px auto 40px;
	}
}
@media only screen and (max-width: 767px) {
	.blue-form__worker {
		margin: 40px auto 0;
	}
}
.blue-form__worker-pict {
	float: left;
}

@media only screen and (max-width: 767px) {
	.blue-form__worker-pict {
		float: none;
	}
}
.blue-form__worker-pict img {
	display: block;
	width: 142px;
	height: 142px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker-pict img {
		width: 232px;
		height: 232px;
		margin: 0 auto;
	}
}
.blue-form__worker-text {
	margin-left: 200px;
	text-align: left;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker-text {
		margin-left: 300px;
		margin-top: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.blue-form__worker-text {
		margin-left: 0;
		text-align: center;
	}
}
.blue-form__worker-name {
	font-size: 22px;
	line-height: 28px;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker-name {
		font-size: 28px;
		line-height: 36px;
	}
}
.blue-form__worker-post {
	font-size: 16px;
	font-weight: 100;
	line-height: 28px;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker-post {
		font-size: 20px;
	}
}
.blue-form__worker-cont {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker-cont {
		margin: 30px 0 0;
	}
}
.blue-form__worker-cont li {
	color: #fff;
	font-size: 22px;
	line-height: 34px;
}

@media only screen and (max-width: 1024px) {
	.blue-form__worker-cont li.is-tel {
		font-size: 28px;
	}
}
.blue-form__worker-cont a {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
}
