[type='text'],
[type='password'],
[type='email'],
[type='number'],
textarea {
	display: block;
	outline: none;
	-webkit-appearance: none !important;
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

[type='text']::-ms-clear,
[type='password']::-ms-clear,
[type='email']::-ms-clear,
[type='number']::-ms-clear,
textarea::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

[type='number']::-webkit-outer-spin-button,
[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-o-outer-spin-button,
input::-o-inner-spin-button {
	-o-appearance: none;
	margin: 0;
}

button,
[type='submit'] {
	-webkit-appearance: none !important;
	cursor: pointer;
}

textarea {
	resize: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.form {
	color: #38454c;
}

.form.has-white-txt {
	color: #fff;
}

.form.has-white-txt .form__input {
	border-bottom-color: #fff;
}

.form.has-white-txt .form__input input {
	background: transparent;
}

.form.has-white-txt .form__input input:focus {
	background-color: rgba(255, 255, 255, 0.14);
}

.form.has-blue-txt {
	color: #2c363c;
	padding-right: 60px;
	padding-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
	.form.has-blue-txt {
		padding-right: 0;
		max-width: 510px;
		margin-left: auto;
		margin-right: auto;
	}
}
.form.has-blue-txt .form__input {
	border-bottom-color: #79d0db;
	margin-top: 10px;
}

.form.has-blue-txt .form__input input {
	background: transparent;
	font-weight: 400;
	font-size: 15px;
	padding: 30px 25px 9px;
}

.form.has-blue-txt .form__input input:focus {
	background-color: rgba(46, 177, 196, 0.14);
}

.form.has-blue-txt .form__input span {
	left: 3px;
	font-size: 15px;
	font-weight: 400;
}

.form.has-blue-txt .form__input.has-text span {
	left: 25px;
	font-size: 12px;
	font-weight: 300;
}

.form.has-blue-txt .mod-top-m40 {
	margin-top: 35px;
}

.form.has-blue-txt .btn.btn_link {
	color: #3cafcc;
	padding-left: 25px;
}

@media only screen and (max-width: 1024px) {
	.form.has-blue-txt .btn.btn_link {
		display: none;
	}
}
.form.has-blue-txt .btn.btn_link:hover {
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.form.has-blue-txt .btn_yellow-big {
		min-width: 220px;
	}
}
@media only screen and (max-width: 767px) {
	.form.has-blue-txt .btn_yellow-big {
		display: block;
		width: 100%;
	}
}
.form__finfsh {
	display: none;
}

.form.is-submitted .form__start {
	display: none;
}

.form.is-submitted .form__finfsh {
	display: block;
}

.form__line {
	margin: 40px 0 20px;
}

.form__line:after {
	content: '';
	display: table;
	clear: both;
}

.form__title {
	font-size: 22px;
	color: #38454c;
	font-weight: 500;
	margin-bottom: 35px;
}

@media only screen and (max-width: 1024px) {
	.form__title {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.form__title {
		line-height: 1.5;
	}
}
.form__input {
	display: block;
	position: relative;
	text-align: left;
	border-bottom: 1px solid #00c9e2;
}

.form__input.has-text span {
	top: 7px;
	font-size: 12px;
	font-weight: 100;
}

.form__input.has-error {
	color: red;
}

.form__input input {
	display: block;
	position: relative;
	width: 100%;
	padding: 32px 25px 18px;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	background-color: rgba(0, 201, 226, 0.12);
	border: none;
	z-index: 1;
}

.form__input input:focus {
	background-color: rgba(0, 201, 226, 0.18);
}

@media only screen and (max-width: 767px) {
	.form__input input {
		padding: 27px 15px 13px;
	}
}
.form__input span {
	display: block;
	position: absolute;
	top: 30px;
	left: 25px;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	opacity: 0.7;
	z-index: 1;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 767px) {
	.form__input span {
		top: 25px;
		left: 15px;
	}
}
.form__label {
	display: block;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
}

@media only screen and (max-width: 1024px) {
	.form__label {
		font-size: 25px;
	}
}
.form__checkbox {
	display: block;
	margin: 20px 0 0;
}

.form__checkbox > input {
	position: absolute;
	visibility: hidden;
	z-index: -10;
}

.form__checkbox > input:checked + span:after {
	background-image: url(assets/img/svg/icon_check_blue.svg);
	border-color: #d5e9ec;
}

.form__checkbox > span {
	display: block;
	position: relative;
	padding-left: 26px;
	font-size: 15px;
	line-height: 18px;
	cursor: pointer;
}

.form__checkbox > span:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	background: no-repeat center;
	background-size: 14px 14px;
	border: 1px solid #7b8688;
}

@media only screen and (max-width: 1024px) {
	.form__checkbox > span {
		padding-left: 36px;
		font-size: 20px;
		line-height: 25px;
	}

	.form__checkbox > span:after {
		width: 25px;
		height: 25px;
		background-size: 20px 20px;
	}
}
.form__radio {
	display: block;
	margin: 20px 0 0;
}

.form__radio > input {
	display: none;
}

.form__radio > input:checked + span::after {
	border-color: #d5e9ec;
}

.form__radio > input:checked + span::before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	background-color: #2eb1c4;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
	.form__radio > input:checked + span::before {
		top: 6px;
		left: 6px;
		width: 13px;
		height: 13px;
	}
}
.form__radio > span {
	display: block;
	position: relative;
	padding-left: 26px;
	font-size: 15px;
	line-height: 18px;
	cursor: pointer;
}

.form__radio > span:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #7b8688;
}

@media only screen and (max-width: 1024px) {
	.form__radio > span {
		padding-left: 36px;
		font-size: 20px;
		line-height: 25px;
	}

	.form__radio > span:after {
		width: 25px;
		height: 25px;
	}
}
.form__range:after {
	content: '';
	clear: both;
	display: table;
}

.form__range-input {
	float: right;
	width: 90px;
	margin-left: 30px;
	padding: 5px;
	color: #38454c;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	background: #def3f7;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
	.form__range-input {
		width: 110px;
		font-size: 18px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.form__range-input {
		float: none;
		display: block;
		width: 100%;
		margin: 0;
	}
}
.form__range-slider {
	margin-right: 120px;
}

@media only screen and (max-width: 1024px) {
	.form__range-slider {
		margin-right: 165px;
	}
}
@media only screen and (max-width: 767px) {
	.form__range-slider {
		margin: 0;
	}
}
.input-error {
	border-color: red !important;
}
