body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

body.no-scroll {
	overflow: hidden;
}

.bx-ie body {
	height: 100vh;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
	.container {
		padding: 0 45px;
	}
}

@media only screen and (max-width: 767px) {
	.container {
		padding: 0 20px;
	}
}

.logo {
	width: 182px;
	height: 44px;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin-top: 43px;
	background: url(assets/img/call-touch-logo.svg) no-repeat;
}

@media (max-width: 1200px) {
	.logo {
		width: 190px;
		height: 46px;
		background-size: 190px 46px;
		margin-top: 35px;
	}
}

@media only screen and (max-width: 767px) {
	.logo {
		width: 146px;
		height: 35px;
		background-size: 146px 35px;
		margin: 25px 0 0 62px;
	}
}

.main-title {
	font-weight: 500;
	font-size: 25px;
	color: #1b424b;
	margin-bottom: 30px;
	display: inline-block;
}

.main-title a {
	color: #009bad;
}

@media only screen and (max-width: 767px) {
	.main-title a {
		text-align: left;
	}
}

.main-title a:hover {
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.main-title {
		font-size: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.main-title {
		text-align: center;
		display: block;
	}
}

.back-link {
	display: none;
	text-decoration: none;
	font-size: 18px;
	color: #2eb1c4;
	font-weight: 500;
	margin-top: 15px;
	position: relative;
}

.back-link span {
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	transition: border 0.3s ease;
}

.back-link:before {
	display: inline-block;
	content: '';
	width: 19px;
	height: 13px;
	background: url(assets/img/icon/icon-arrow-back.png) 0 -1px no-repeat;
	margin-right: 5px;
}

.back-link:hover span {
	border-bottom: 1px solid #2eb1c4;
}

@media only screen and (max-width: 1024px) {
	.back-link {
		display: inline-block;
	}
}

.blue-link {
	color: #3db0cc;
	text-decoration: none;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.blue-link:hover {
	color: #4ec1dd;
}

.wrapper {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	position: relative;
	padding-top: 112px;
}

.wrapper:before {
	background: #1f282c;
	content: '';
	display: block;
	height: 112px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
}

@media only screen and (max-width: 767px) {
	.wrapper:before {
		height: 80px;
	}
}

@media only screen and (max-width: 767px) {
	.wrapper {
		padding-top: 80px;
	}
}

.bx-ie .wrapper {
	overflow: hidden;
}

.icon-education-1 {
	display: inline-block;
	width: 63px;
	height: 43px;
	background: url(assets/img/svg/analutics.svg) no-repeat;
	background-size: 63px 38px;
}

.icon-education-2 {
	display: inline-block;
	width: 46px;
	height: 43px;
	background: url(assets/img/svg/sell_manager.svg) no-repeat;
	background-size: 46px 43px;
}

@media (min-width: 1025px) {
	.grid {
		overflow: hidden;
	}

	.g-row {
		font-size: 0;
		margin: 0 -13px;
	}

	.g-col-d-1 {
		width: 8.33333333%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-2 {
		width: 16.66666667%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-3 {
		width: 25%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-4 {
		width: 33.33333333%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-5 {
		width: 41.66666667%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-6 {
		width: 50%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-7 {
		width: 58.33333333%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-8 {
		width: 66.66666667%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-9 {
		width: 75%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-10 {
		width: 83.33333333%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-11 {
		width: 91.66666667%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}

	.g-col-d-12 {
		width: 100%;
		padding: 0 13px;
		display: inline-block;
		vertical-align: top;
	}
}
.ui-autocomplete {
	background: #fff;
	display: inline-block;
	z-index: 101;
	position: absolute;
	overflow-y: auto;
	max-height: 300px;
	border-top: 1px solid #1d2529;
	background: #293238;
	padding: 10px 0;
}

.ui-autocomplete .ui-menu-item {
	list-style: none;
	display: block;
	cursor: pointer;
	-webkit-touch-callout: none;
	text-decoration: none;
	white-space: nowrap;
	padding: 9px 20px;
	position: relative;
	overflow: hidden;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
}

.ui-autocomplete .ui-menu-item.ui-state-focus,
.ui-autocomplete .ui-menu-item:hover {
	color: #009bad;
}

.ui-helper-hidden-accessible {
	display: none;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.t-left {
	text-align: left;
}

.f-right {
	float: right;
}

.f-left {
	float: left;
}

.overflow {
	overflow-y: hidden;
}

.hidden {
	display: none !important;
}

.icon-rub {
	text-transform: lowercase;
	font-style: normal;
	font-family: 'Als-Rubl';
}

blockquote {
	background: #fff;
	border-left: 10px solid #3cafcc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
	color: #3cafcc;
	content: '”';
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

.social__tw {
	background: rgba(0, 0, 0, 0) url(assets/img/svg/twt.svg) no-repeat scroll 0 0;
}

.personal-notice {
	font-size: 12px;
}

.ready-use-personal-notice a {
	color: #fff;
}

.ready-use-personal-notice a:hover {
	color: #3db0cc;
}

.tags {
	display: inline-block;
	color: rgba(27, 66, 75, 0.48);
	font-size: 13px;
	font-style: italic;
	position: absolute;
	left: 40px;
	right: 70px;
	bottom: 11px;
}

.detail-tags {
	color: rgba(27, 66, 75, 0.48);
	font-size: 13px;
	font-style: italic;
}

.top-stat {
	font-size: 15px;
	width: 100%;
	border-bottom: 1px solid #cacaca;
	margin-top: -35px;
	padding-bottom: 10px;
}

.articles-unit__date {
	display: inline-block;
}

.eye {
	font-family: 'MuseoSansRegular';
	display: inline-block;
	position: relative;
	padding-left: 15px;
	font-size: 12px;
	width: 50px;
}

.eye::before {
	content: '';
	background: url(assets/img/eye.svg) no-repeat;
	width: 12px;
	height: 12px;
	background-size: 100%;
	display: inline-block;
	position: absolute;
	left: -1px;
	fill: red;
	top: 2px;
}

.user-content-styles {
	position: relative;
}

.top-stat .eye::before {
	top: 8px;
}

@media (max-width: 1024px) {
	.eye {
		font-size: 15px;
		padding-left: 19px;
	}

	.eye::before {
		width: 17px;
		height: 17px;
		top: 1px;
	}
}
@media (max-width: 767px) {
	.apss-icon-block .fa {
		padding-top: 12px;
	}

	.apss-icon-block .fa.fa-google-plus {
		padding-left: 5px;
		padding-top: 14px;
	}
}
.apss-social-share-sidebar-mobile {
	display: none;
}
.apss-social-share-sidebar-mobile .apss-single-icon .apss-icon-block {
	height: 40px;
	width: 40px;
}

.apss-sidebar-mobile-close {
	background: url(assets/img/close-social.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block !important;
	right: 30px;
	left: auto;
	top: -15px;
}

.apss-sidebar-mobile-close:before {
	display: none;
}

.apss-social-share-sidebar.apss-theme-1 .apss-icon-block {
	line-height: 36px;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.apss-social-share-sidebar.apss-theme-1 .apss-icon-block:hover {
	width: 180px !important;
}

header,
main,
footer {
	display: block;
}

.kk-star-ratings.lft {
	display: inline-block;
	float: none;
	position: relative;
	top: 6px;
	min-height: 0;
}

.kk-star-ratings .kksr-legend {
	display: none !important;
}

.top-stat .eye {
	font-size: 15px;
}

.article__side-news-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}

.article__side-news {
	margin-left: 10px;
	margin-right: 10px;
	width: 33.33333333333333%;
}

.side-news-info {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -10px;
}

.side-news-info__item {
	margin-left: 10px;
}

.side-news__thumbnail {
	height: 1px;
	min-height: 175px;
}

.side-news__thumbnail img {
	display: block;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.side-news-info .eye:before {
	top: 0;
}

.side-news-info .side-news__date {
	margin-bottom: 0;
}

.articles-unit__details .articles-unit__date a {
	color: #06bdd5;
}

.cookie-notice {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #1f282c;
	bottom: 0;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 10px;
	left: 0;
	line-height: 1.3;
	padding: 15px 30px;
	position: fixed;
	right: 0;
	z-index: 999;
}

.cookie-notice button {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 22px;
	height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	width: 44px;
	z-index: 91;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.cookie-notice {
		font-size: 8px;
		min-height: 120px;
		padding: 30px;
	}
}

.user-content-styles ul li:before {
	content: '\2022';
	color: #3cafcc;
	font-weight: bold;
}

.wrapper .page .container {
	max-width: 1000px;
}

.detail .user-content-styles img,
.detail .user-content-styles iframe {
	width: 100% !important;
}
