.wp-caption-text {
	text-align: center;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	/* stylelint-disable */
	img[class*="wp-image-"] {
		@include center-block;
	}
	/* stylelint-enable */

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}
