.case-container {
	background: #def3f7;
	padding: 50px 0 80px;
}

@media only screen and (max-width: 1024px) {
	.case-container {
		padding-bottom: 55px;
	}
}
@media only screen and (max-width: 767px) {
	.case-container .main-title {
		text-align: left;
	}
}
.button-container {
	text-align: center;
	padding-top: 40px;
}

.button-container._mobile {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.button-container._mobile {
		display: block;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.case-list .g-row > div:first-child .case:nth-child(-n + 2) {
		display: block;
	}

	.case-list .case {
		display: none;
	}

	.case-list .case.active {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	.case-list .g-row:first-child > div:first-child .case {
		display: block;
	}

	.case-list .case {
		display: none;
	}

	.case-list .case.active {
		display: block;
	}
}
.case {
	position: relative;
	background: #fff;
	border: 1px solid #dbe8ea;
	padding: 30px;
	margin-top: 20px;
	min-height: 470px;
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {
	.case {
		min-height: 1px;
	}
}
@media only screen and (max-width: 767px) {
	.case {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.case__thumb {
	display: table-cell;
	height: 90px;
	vertical-align: middle;
}

.case__thumb img {
	vertical-align: top;
	max-height: 90px;
}

@media only screen and (max-width: 767px) {
	.case__thumb img {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	}
}
@media only screen and (max-width: 767px) {
	.case__thumb {
		display: block;
		position: relative;
		text-align: center;
	}
}
.case__company {
	font-weight: 700;
	font-size: 15px;
	color: #1b424b;
	margin-top: 30px;
	line-height: 1.3;
}

@media only screen and (max-width: 1024px) {
	.case__company {
		font-size: 20px;
	}
}
.case__desc {
	font-size: 15px;
	color: #2eb1c4;
	margin-top: 5px;
	line-height: 1.3;
}

@media only screen and (max-width: 1024px) {
	.case__desc {
		font-size: 20px;
	}
}
.case__details {
	font-weight: 300;
	font-size: 15px;
	margin-top: 25px;
	line-height: 1.75;
	color: #1b424b;
}

@media only screen and (max-width: 1024px) {
	.case__details {
		font-size: 20px;
		line-height: 1.6;
		margin-bottom: 20px;
		margin-top: 15px;
	}
}
.case__title {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	margin: 0 20px;
}

.case__btn {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	line-height: 40px;
	margin-top: 20px;
	font-size: 15px;
	width: 170px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.case__btn:hover {
	background: #fff;
	color: #1b424b;
}

.case__action {
	visibility: visible;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: #2eb1c4;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.case__action-item {
	position: absolute;
	width: 100%;
	top: 50%;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
}

.case:hover .case__action {
	visibility: visible;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
}
