@media only screen and (max-width: 1024px) {
	.contacts-container {
		text-align: center;
	}
}
.contacts-container .page__head-title {
	margin-top: 25px;
}

@media only screen and (max-width: 1024px) {
	.contacts-container .page__head-title {
		margin: 65px 0 0;
		font-weight: 700;
	}
}
@media only screen and (max-width: 767px) {
	.contacts-container .page__head-title {
		margin-top: 45px;
	}
}
