.main-container {
	overflow: hidden;
	background: url(assets/img/backgrounds/bg_waves-left.png) top left no-repeat,
		url(assets/img/backgrounds/bg_waves-right.png) top right no-repeat #009bad;
	background-size: auto 100%, auto 100%;
	padding: 50px 0;
}

@media only screen and (max-width: 1024px) {
	.main-container {
		text-align: center;
		position: relative;
		padding-bottom: 160px;
		background-size: auto 100%, 0 0;
	}
}
@media only screen and (max-width: 767px) {
	.main-container {
		text-align: left;
		padding-bottom: 170px;
	}
}
.main-container h2 {
	font-size: 49px;
	color: #fff;
	font-weight: 700;
	margin-top: 75px;
	line-height: 1.25;
}

@media only screen and (max-width: 1024px) {
	.main-container h2 {
		margin-top: 25px;
	}
}
@media only screen and (max-width: 767px) {
	.main-container h2 {
		font-size: 30px;
		margin-top: 0;
	}
}
.main-container__details {
	padding-top: 30px;
}

@media only screen and (max-width: 1024px) {
	.main-container__details {
		padding-top: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.main-container__details {
		padding-top: 10px;
	}
}
.main-container__details p {
	font-size: 26px;
	line-height: 1.5;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.63);
}

@media only screen and (max-width: 767px) {
	.main-container__details p {
		font-size: 25px;
	}
}
.readmore {
	position: relative;
	background: #e5d01b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 56px;
	height: 56px;
	display: inline-block;
	margin-top: 48px;
	text-decoration: none;
	font-size: 15px;
	color: #4c4822;
	padding: 0 40px 0 55px;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.readmore {
		font-size: 20px;
		line-height: 60px;
		height: 60px;
		padding: 0 35px 0 60px;
	}
}
@media only screen and (max-width: 767px) {
	.readmore {
		padding: 0 30px 0 55px;
		bottom: 5px;
	}
}
.readmore:hover {
	background: #f7dd00;
}

.readmore:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 25px;
	background: url(assets/img/svg/btn_ico.svg) no-repeat;
	width: 22px;
	height: 22px;
	background-size: 22px 22px;
}

@media only screen and (max-width: 1024px) {
	.readmore:before {
		left: 30px;
	}
}
@media only screen and (max-width: 1024px) {
	.readmore-block {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 60px;
		left: 0;
		right: 0;
	}
}
