@media only screen and (min-width: 1024px) {
	.map-container .map {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50vw;
	}
}
@media only screen and (max-width: 1024px) {
	.map-container .map {
		margin: 0 -45px;
		position: relative;
		height: 780px;
	}
}
