.product-sect {
	padding: 110px 0;
}

.product-sect_seo {
	padding: 80px 0;
}

@media only screen and (max-width: 1024px) {
	.product-sect {
		padding: 90px 0;
	}
}
@media only screen and (max-width: 767px) {
	.product-sect {
		padding: 75px 0;
	}
}
.product-sect.has-pict-to-left .product__pict {
	float: left;
	width: 50%;
	padding-right: 55px;
}

@media only screen and (max-width: 1024px) {
	.product-sect.has-pict-to-left .product__pict {
		float: none;
		width: auto;
		padding: 0;
	}
}
.product-sect.has-pict-to-left .product__text {
	float: left;
	width: 50%;
	padding: 0 10px 0 80px;
}

@media only screen and (max-width: 1024px) {
	.product-sect.has-pict-to-left .product__text {
		float: none;
		width: auto;
		padding: 0;
	}
}
.product-sect.has-pict-to-right .product__pict {
	float: right;
	width: 50%;
	padding: 0 0 0 80px;
}

@media only screen and (max-width: 1024px) {
	.product-sect.has-pict-to-right .product__pict {
		float: none;
		width: auto;
		padding: 0;
	}
}
.product-sect.has-pict-to-right .product__text {
	float: right;
	width: 50%;
}

@media only screen and (max-width: 1024px) {
	.product-sect.has-pict-to-right .product__text {
		float: none;
		width: auto;
	}
}
.product-sect.has-pict-to-right .product__title {
	max-width: 500px;
}

@media only screen and (max-width: 1024px) {
	.product-sect.has-pict-to-right .product__title {
		max-width: none;
	}
}
.product-sect.has-pict-to-right .product__note {
	max-width: 470px;
}

@media only screen and (max-width: 1024px) {
	.product-sect.has-pict-to-right .product__note {
		max-width: none;
	}
}
.product-sect.has-blue-bg {
	background-color: #def3f7;
}

.product__row::after {
	content: '';
	display: table;
	clear: both;
}

@media only screen and (max-width: 1024px) {
	.product__pict {
		margin-bottom: 70px;
	}
}
@media only screen and (max-width: 767px) {
	.product__pict {
		margin-bottom: 30px;
	}
}
.product__pict-zoom {
	display: block;
	position: relative;
	cursor: pointer;
}

.product__pict-zoom:after {
	content: '';
	display: block;
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 43px;
	height: 43px;
	background: no-repeat 0 65% url(assets/img/svg/icon_plus_yellow.svg);
	background-size: 100% 100%;
	pointer-events: none;
	z-index: 1;
}

.product__pict img {
	display: block;
}

.product__wrap-img {
	display: inline-block;
	max-width: 100%;
	position: relative;
}

.product__video {
	position: relative;
	vertical-align: top;
	height: 100%;
	background-color: #004a53;
	overflow: hidden;
}

.product__video-poster {
	position: relative;
	height: 100%;
	-webkit-transition: all 0.6s ease-in-out 0.3s;
	transition: all 0.6s ease-in-out 0.3s;
	z-index: 1;
}

.product__video-poster.hide {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.product__video-poster:hover .articles-video__img {
	opacity: 0.9;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.product__video-img {
	display: block;
	vertical-align: top;
	height: auto;
	width: 100%;
	max-width: none;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.product__video-start {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: no-repeat center url(assets/img/svg/icon_play_yellow.svg);
	background-size: 60px 60px;
	cursor: pointer;
	z-index: 2;
}

.product__video .youtube {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.product__title {
	max-width: 880px;
	margin: 0;
	color: #009bad;
	font-size: 30px;
	font-weight: 500;
	line-height: 41px;
}

@media only screen and (max-width: 767px) {
	.product__title {
		font-size: 28px;
		line-height: 35px;
	}
}
.product__note {
	margin-top: 30px;
	color: #38454c;
	font-weight: 300;
	line-height: 31px;
}

@media only screen and (max-width: 767px) {
	.product__note {
		margin-top: 20px;
	}
}
.product__note ul,
.product__note ol {
	padding-left: 16px;
}

.product__note p {
	margin: 30px 0 0;
	font: inherit;
}
