.search-rez {
	max-width: 900px;
}

.search-rez__head {
	margin: 10px 0 20px;
}

.search-rez__form {
	position: relative;
	max-width: 720px;
	background-color: #e0eff1;
}

.search-rez__form-input {
	display: block;
	width: 100%;
	padding: 10px 52px 10px 14px;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	background: transparent;
	border: none;
}

@media only screen and (max-width: 1024px) {
	.search-rez__form-input {
		padding: 16px 65px 16px 20px;
		font-size: 20px;
	}
}
.search-rez__form-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 42px;
	height: 100%;
	background: #e0eff1 no-repeat center url(assets/img/svg/icon-search_dark.svg);
	background-size: 20px 20px;
	border: none;
}

.search-rez__form-btn:hover {
	background-color: #2eb1c4;
}

@media only screen and (max-width: 1024px) {
	.search-rez__form-btn {
		width: 60px;
	}
}
.search-rez__title {
	margin: 0;
	padding: 10px 0;
	color: #1f282c;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.025em;
	border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 1024px) {
	.search-rez__title {
		margin-top: 30px;
		font-size: 25px;
		border-bottom-width: 2px;
	}
}
.search-rez__list {
	margin: 40px 0;
	padding: 0;
	list-style: none;
}

.search-rez__item {
	margin: 40px 0;
	color: #1b424b;
}

.search-rez__item-title {
	margin: 6px 0;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
}

@media only screen and (max-width: 1024px) {
	.search-rez__item-title {
		margin: 10px 0;
		font-size: 22px;
		line-height: 29px;
	}
}
.search-rez__item-title a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.search-rez__item-title a:hover {
	color: #2eb1c4;
	text-decoration: underline;
}

.search-rez__item-text {
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
}

@media only screen and (max-width: 1024px) {
	.search-rez__item-text {
		font-size: 20px;
		line-height: 28px;
	}
}
@media only screen and (max-width: 767px) {
	.search-rez__item-text {
		display: none;
	}
}
.search-rez__content {
	margin-bottom: 20px;
}
