.work-container {
	padding: 50px 0;
}

@media only screen and (max-width: 1024px) {
	.work-container {
		padding: 70px 0;
	}
}
@media only screen and (max-width: 1024px) {
	.work-container .main-title {
		text-align: center;
		display: block;
	}
}
.tabs {
	margin: 0 auto;
	max-width: 1200px;
}

@media only screen and (min-width: 1024px) {
	.tabs {
		font-size: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.tabs {
		padding-top: 15px;
	}
}
@media only screen and (min-width: 1024px) {
	.tabs__nav {
		border-top: 1px solid #f4f4f4;
	}
}
@media only screen and (max-width: 1024px) {
	.tabs__nav {
		width: 310px;
		margin: 0 auto;
		border: 1px solid #bababa;
		position: relative;
		z-index: 10;
		max-height: 45px;
		min-height: 45px;
		overflow: hidden;
	}

	.tabs__nav:after {
		content: '';
		position: absolute;
		right: 18px;
		top: 20px;
		border-top: 8px solid #3a3e41;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}

	.tabs__nav ul {
		position: absolute;
		width: 100%;
		background: #fff;
		z-index: 9;
	}

	.tabs__nav.hover {
		overflow: visible;
		border-left: none;
		border-right: none;
	}

	.tabs__nav.hover:after {
		right: 19px;
		border-top: 0;
		border-bottom: 8px solid #3a3e41;
	}

	.tabs__nav.hover ul {
		position: static;
		border-bottom: 1px solid #bababa;
	}

	.tabs__nav.hover li {
		overflow: visible;
	}

	.tabs__nav.hover li span {
		max-height: 45px;
		padding: 0 31px;
	}

	.tabs__nav li {
		display: block;
		white-space: nowrap;
		overflow: hidden;
	}

	.tabs__nav li span {
		display: block;
		padding: 0 30px;
		font-size: 20px;
		color: #1f282d;
		font-weight: 500;
		border-left: 1px solid #bababa;
		border-right: 1px solid #bababa;
		line-height: 45px;
		max-height: 0;
		cursor: pointer;
	}

	.tabs__nav li span:hover {
		background: #ccc;
	}

	.tabs__nav li.active {
		overflow: visible;
	}

	.tabs__nav li.active span {
		height: 45px;
		line-height: 45px;
	}
}
@media only screen and (max-width: 767px) {
	.tabs__nav {
		width: 275px;
	}
}
.tabs__nav li {
	list-style: none;
}

@media only screen and (min-width: 1024px) {
	.tabs__nav li {
		display: inline-block;
		vertical-align: top;
		width: 20%;
	}

	.tabs__nav li span {
		display: block;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		height: 58px;
		line-height: 58px;
		color: #fff;
		text-align: center;
		cursor: pointer;
		-webkit-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}

	.tabs__nav li:nth-child(1) span {
		background: #3fb5d3;
	}

	.tabs__nav li:nth-child(2) span {
		background: #38a0ba;
	}

	.tabs__nav li:nth-child(3) span {
		background: #328ea5;
	}

	.tabs__nav li:nth-child(4) span {
		background: #2d7f94;
	}

	.tabs__nav li:nth-child(5) span {
		background: #256a7b;
	}

	.tabs__nav li:hover:not(.active) span {
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		filter: alpha(opacity=80);
		opacity: 0.8;
	}

	.tabs__nav li.active span {
		background: #fff;
		color: #1f282d;
		cursor: default;
	}
}
.tabs__content-item {
	padding-top: 90px;
	font-size: 14px;
	display: none;
}

.tabs__content-item.active-tab {
	display: block;
}

@media only screen and (max-width: 1024px) {
	.tabs__content-item {
		padding-top: 75px;
	}
}
@media only screen and (max-width: 767px) {
	.tabs__content-item {
		padding-top: 115px;
	}
}
