.page.has-blue-bg {
	background-color: #def3f7;
}

.page__contacts {
	font-size: 17px;
	display: block;
	color: #38454c;
	line-height: 1.25;
	margin: 45px 0 65px;
}

@media only screen and (max-width: 1024px) {
	.page__contacts {
		font-size: 25px;
		margin: 25px 0 70px;
	}
}
@media only screen and (max-width: 767px) {
	.page__contacts {
		margin: 40px 0;
	}
}
.page__contacts div {
	margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
	.page__contacts div {
		margin-top: 18px;
	}
}
.page__contacts a {
	text-decoration: none;
	color: #38454c;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.page__contacts a:hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.page__contacts .page__contact-email {
	color: #009bad;
}

.page__contacts .phone {
	font-size: 25px;
}

@media only screen and (max-width: 1024px) {
	.page__contacts .phone {
		font-size: 32px;
	}
}
.page__head {
	padding: 10px 0;
}

.page__head.has-blue-lined-bg {
	background: url(assets/img/backgrounds/bg_waves-left_head.png) top left repeat-y,
		url(assets/img/backgrounds/bg_waves-right_head.png) top right repeat-y #def3f7;
}

.page__head-brcr {
	margin: 30px 0 5px;
}

@media only screen and (max-width: 1024px) {
	.page__head-brcr {
		display: none;
	}
}
.page__head-info {
	margin-top: 60px;
}

@media only screen and (max-width: 1024px) {
	.page__head-info {
		margin-top: 40px;
	}
}
.page__head-info.light {
	margin: 30px 0 0;
}

.page__head-info.light h1 {
	font-weight: 700;
	margin: 15px 0 0;
}

@media only screen and (min-width: 1024px) {
	.page__head-info.light h1 {
		font-weight: 500;
	}
}
@media only screen and (max-width: 767px) {
	.page__head-info.light h1 {
		font-size: 32px;
	}
}
.page__head-title {
	margin: 0 0 35px;
	color: #38454c;
	font-size: 40px;
	line-height: 57px;
	font-weight: 700;
}

@media only screen and (max-width: 1024px) {
	.page__head-title {
		font-size: 32px;
		line-height: 45px;
		font-weight: 500;
	}
}
@media only screen and (max-width: 767px) {
	.page__head-title {
		font-size: 30px;
		line-height: 37px;
		font-weight: 700;
	}
}
.page__head-lead {
	max-width: 980px;
	margin-bottom: 80px;
	color: #38454c;
	font-size: 20px;
	line-height: 31px;
	font-weight: 300;
}

@media only screen and (max-width: 1024px) {
	.page__head-lead {
		font-size: 22px;
		line-height: 32px;
	}
}
.page__head-pict {
	margin: 15px -20px 10px 0;
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 43px rgba(165, 197, 207, 0.45);
	box-shadow: 0 0 43px rgba(165, 197, 207, 0.45);
}

@media only screen and (max-width: 1024px) {
	.page__head-pict {
		margin: 15px 50px -20px;
	}
}
@media only screen and (max-width: 767px) {
	.page__head-pict {
		margin: 15px 0 -20px;
	}
}
.page__head-pict img {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.page__title {
	margin: 7px 0 15px;
	color: #38454c;
	font-size: 25px;
	line-height: 30px;
	font-weight: 500;
}

@media only screen and (max-width: 1024px) {
	.page__title {
		margin: 55px 0 5px;
		font-size: 32px;
		font-weight: 700;
	}
}
.page__pagination {
	margin: 75px 0;
}

.page-not-found {
	margin-top: 0;
	text-align: center;
}

.page-not-found .page__head-title,
.page-not-found .page__head-lead {
	max-width: none;
}

.page-not-found .page__head-title {
	font-size: 200px;
	line-height: normal;
}

.page__head .events__head > .b-events-list {
	margin-left: 0;
	margin: 0;
}
.page__head .events__head > .b-events-list .b-events-list__item {
	margin-left: 0;
	margin: 0;
	padding-right: 5px;
}
.page__head .events__head > .b-events-list .b-events-list__item:last-child {
	margin-left: 0;
	margin: 0;
	padding-right: 0;
}
.page__head .events__head > .b-events-list .events__nav-btn {
	width: 100%;
}
