.user-content-styles {
	color: #38454c;
	font-size: 20px;
	font-weight: 300;
	line-height: 31px;
}

.user-content-styles a {
	color: #3cafcc;
	text-decoration: underline;
	font-weight: 500;
}

.user-content-styles a:hover {
	text-decoration: none;
}

.user-content-styles h1 {
	margin: 50px 0 30px;
	font-size: 40px;
	font-weight: 700;
	line-height: 57px;
}

.user-content-styles h2 {
	margin: 45px 0 15px;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.2;
}

.user-content-styles h3 {
	margin: 45px 0 15px;
	font-weight: 500;
	font-size: 29px;
	line-height: 1.2;
}

.user-content-styles h4 {
	margin: 45px 0 15px;
	font-weight: 500;
	font-size: 26px;
	line-height: 1.2;
}

.user-content-styles h5 {
	margin: 35px 0 15px;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
}

.user-content-styles h6 {
	margin: 25px 0 15px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
}

.user-content-styles p {
	margin: 10px 0 16px;
}

.user-content-styles .lead {
	margin: 30px 0 40px;
	font-weight: 500;
}

.user-content-styles ul {
	margin: 10px 0 18px;
	padding: 0;
	list-style: none;
}

.user-content-styles ul li {
	position: relative;
	margin: 7px 0;
	padding-left: 25px;
}

.user-content-styles ul li:before {
	content: '—';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.user-content-styles ol {
	margin: 10px 0 18px;
	padding: 0;
	list-style: none;
	counter-reset: this;
}

.user-content-styles ol li {
	position: relative;
	margin: 7px 0;
	padding-left: 25px;
}

.user-content-styles ol li:before {
	counter-increment: this;
	content: counter(this) '.';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 22px;
	font-weight: 700;
	overflow: hidden;
}

.user-content-styles .video {
	max-width: 675px;
}

.single.single-post .user-content-styles .two-imgs {
	max-width: 700px;
	margin: 30px -12.5px;
	font-size: 0;
}

@media only screen and (max-width: 767px) {
	.user-content-styles .two-imgs {
		margin: 30px 0;
	}
}
.user-content-styles .two-imgs__col {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0;
	padding: 0 12.5px;
}

@media only screen and (max-width: 767px) {
	.user-content-styles .two-imgs__col {
		width: auto;
		padding: 0;
	}
}
.user-content-styles .two-imgs img {
	display: block;
	width: 100%;
	height: auto;
}

.user-content-styles .two-imgs figcaption {
	margin: 18px 0;
	color: #a8a8a8;
	font-size: 13px;
	line-height: 17px;
}
