.links {
	margin-bottom: 50px;
	display: none;
}

.links a {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.links a:hover {
	color: #3db0cc;
}
