.more-content {
	margin: 25px 0 75px;
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	.more-content {
		margin: 40px 0 100px;
	}
}
.more-content__btn {
	display: inline-block;
	position: relative;
	vertical-align: top;
	min-width: 150px;
	padding: 9px 20px 10px;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	background: #6e7b83;
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {
	.more-content__btn {
		min-width: 260px;
		padding: 20px 30px;
		font-size: 20px;
	}
}
.more-content__btn:hover {
	background-color: #3cafcc;
}

.more-content__btn:before {
	content: '';
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff no-repeat center url(assets/img/btn_preloader.gif);
}

.more-content__btn.is-loading {
	cursor: pointer;
}

.more-content__btn.is-loading:before {
	display: block;
}
