.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 20px;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	font-weight: 300;
}

.breadcrumbs li:after {
	content: '-';
	margin: 0 5px 0 3px;
}

.breadcrumbs li:last-child:after {
	display: none;
}

.breadcrumbs a {
	color: #3cafcc;
	text-decoration: none;
	border-bottom: 1px solid rgba(60, 175, 204, 0.4);
}

.breadcrumbs a:hover {
	border-color: #3cafcc;
}

.pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.pagination li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 500;
}

.pagination li.is-active a {
	background-color: #e7f0f1;
	cursor: default;
}

.pagination li:last-child a {
	border-right: 1px solid #e7f0f1;
}

@media only screen and (max-width: 1024px) {
	.pagination li {
		font-size: 19px;
	}
}
@media only screen and (max-width: 767px) {
	.pagination li:nth-child(5),
	.pagination li:nth-child(6) {
		display: none;
	}
}
.pagination a,
.pagination b {
	display: block;
	min-width: 26px;
	color: #1b424b;
	font: inherit;
	text-decoration: none;
	text-align: center;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #e7f0f1;
	overflow: hidden;
}

@media only screen and (max-width: 1024px) {
	.pagination a,
	.pagination b {
		min-width: 37px;
	}
}
.pagination a:hover {
	background-color: #e7f0f1;
}

.pagination__prev,
.pagination__next {
	width: 26px;
	padding: 7px 10px 5px;
	color: transparent;
	white-space: nowrap;
	text-indent: 50px;
	background: no-repeat center;
	background-size: 9px 9px;
}

@media only screen and (max-width: 1024px) {
	.pagination__prev,
	.pagination__next {
		padding: 9px 5px 7px;
	}
}
.pagination__prev {
	background-image: url(assets/img/svg/icon_page-prev_blue.svg);
}

.pagination__next {
	background-image: url(assets/img/svg/icon_page-next_blue.svg);
}

.pagination__dots,
.pagination__page {
	padding: 7px 3px 5px;
}

@media only screen and (max-width: 1024px) {
	.pagination__dots,
	.pagination__page {
		padding: 9px 5px 7px;
	}
}
