.tooltip-block {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.tooltip-block__quest-mark {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	margin: 3px 0 3px 5px;
	background: url(assets/img/svg/icon_quest-mark_dark.svg) no-repeat;
	background-size: 16px 16px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
}

.tooltip-block__quest-mark:hover {
	background-color: #def3f7;
}

.tooltip-block__quest-mark:hover + .tooltip-block__info {
	opacity: 1;
	visibility: visible;
}

.tooltip-block__quest-mark:active {
	background-color: #e5d01b;
}

.tooltip-block__info {
	position: absolute;
	display: inline-block;
	width: 300px;
	border: solid 4px #f6cf58;
	background: #fff;
	padding: 20px;
	left: 12px;
	z-index: 99;
	font-size: 14px;
	line-height: 1.3;
	top: 50px;
	color: #37474f;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

@media only screen and (max-width: 1100px) {
	.tooltip-block__info {
		right: 12px;
		left: auto;
	}
}
@media only screen and (max-width: 768px) {
	.tooltip-block__info {
		right: auto;
		top: 100%;
		left: 5%;
	}
}
.tooltip-block__info:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: -21px;
	left: -4px;
	border-style: solid;
	border-width: 17px 0 0 17px;
	border-color: transparent transparent transparent #f6cf58;
}

@media only screen and (max-width: 1100px) {
	.tooltip-block__info:before {
		right: 12px;
		left: auto;
		border-width: 0 0 17px 17px;
		border-color: transparent transparent #f6cf58;
	}
}
@media only screen and (max-width: 768px) {
	.tooltip-block__info:before {
		display: none;
	}
}
